@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #eee;
    align-content: center;
    font-family: Source Sans Pro;
}
.date{
    padding: 3px;
    font-size: medium;
}
.newspaper-container{
    background-color: white;
    width: 700px;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
}
h1{
    font-family: Abril Fatface;
    text-align: center;
    font-size: 3em;
}

h2, h4{
    font-family: Roboto Slab;
}

nav li {
    display: inline;
    padding: 5px;
    margin: auto;
    text-align: center;
}
section{
    display: inline-block;
    padding: 1rem 1rem;
    width: min-content;
    border-top: solid #eee;
}
a{
    color: #777;
    text-decoration: none;
}

nav{
    border-top: solid #eee;
    border-bottom: solid #eee;
}
h5{
    color: #dd3232;
    font-family: Abril Fatface;
}
main img{
   width: 100%;
}
